<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Search Engine Test">

<test name="Functional Test-Search Web">
     <classes>
      <class name="com.automation.testcases.SearchWebResults"/>
     </classes>
   </test> <!-- Test -->

 <test name="Functional Test-Search Videos">
     <classes>
      <class name="com.automation.testcases.SearchVideos"/>
     </classes>
   </test> <!-- Test -->
 
  

</suite> <!-- Suite -->
